.employee-listing-table{
    height: 110rem;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

.employee-basic-details, .employee-generic-details, .employee-secondary-details, .employee-address-details, .employee-office-details, .employee-office-address, .employee-bank-details, .shortlist-cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.employee-span{
    margin-right: 8px;
}

.employee-name-img{
    display: flex;
    align-items: center;
}

.employee-img{
    width: 4rem;
}