.employee-listing-table{
    height: 115rem;
}

.modal-body{
    display: flex;
    flex-direction: column;
}


.employee-basic-details, .employee-secondary-details, .shortlist-cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.employee-name-img{
    display: flex;
    align-items: center;
}

.employee-img{
    width: 4rem;
}