.filter-conatiner {
    padding-right: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    overflow: hidden;

}

.filter-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-sort-list,
.filter-employee {
    padding-left: 0;
}

li {
    list-style: none;
}